.line{
	width:100%;
	
	display: flex;
	height:32px;
	margin-top: 1rem;

}
.line input{
	height:85%;
}
.box {
	margin: auto;
	margin-top: 10rem;;
	top: 229px;
	left: 660px;
	width: 500px;
	
	border: 1px solid #707070;
	opacity: 1;
	padding:2rem;
}
.line2{
	justify-content: space-between;
}
.line3 input{
	width:100%;
}
.line4{
	justify-content: center;
}
.file {
	top: 260px;
	left: 710px;
	width: 82%;
	border-radius: 5px;
	opacity: 1;
}
.browse {
	top: 260px;
	left: 1110px;
	width: 100px;
	height: 32px;
	background: #f0f0f0 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	border-radius: 5px;
	opacity: 1;
}
.author {
	top: 312px;
	left: 710px;
	width: 200px;
	height: 32px;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	border-radius: 5px;
	opacity: 1;
}
.location {
	top: 312px;
	left: 1010px;
	width: 200px;
	height: 32px;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	border-radius: 5px;
	opacity: 1;
}
.description {
	top: 364px;
	left: 710px;
	width: 500px;
	height: 32px;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	border-radius: 5px;
	opacity: 1;
}
.post {
	top: 422px;
	left: 910px;
	width: 100px;
	height: 32px;
	background: #f0f0f0 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	border-radius: 5px;
	opacity: 1;
}
.post:hover {
	background-color: blue;
	color: white;
}
