 .img{
     width: 48px;
     height: 48px;
     
 }
 .biggest{
     width:100vw;
     border: 1px solid grey;
     position: fixed;
    top:0;
    background-color: white;
    height:6rem;
    display: flex;
    align-items: center;
 }
 .parentDiv {
     display: flex;
     justify-content: space-between;
     
     align-items: center;
     width: 80%;
     
     margin: auto;
 }

 .logoAndText {
     display: flex;
     
     justify-content: space-between;
     align-items: center;
 }
.instaclone {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 4px;
    font:normal normal 48px/60px Palatino;
    letter-spacing: 0px;
    color: #006238;
    opacity: 1;
}


 
