<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form method="POST" action="/createposts">
            <label for="username">user name</label>
            <input type='text' id="owner" name="username" >
            <label for="location">Location</label>
            <input type='text' id="location" name="location">
            <button type="submit">Add</button>
        </form>
        </div>
</body>
</html>