.entry-container{
  
  width: fit-content;
  height:fit-content;
  margin: auto;
  display: flex;
  align-items: center;

}
.entry-container img{
  height: 30rem;
  width:20rem;
}
.entry-main{
  display: flex;
  height:100vh;
  width: 100vw;
}
.entry-title{
  font-size: 2rem;
  color:#006238;
  font-family: Palatino;
  
}
.entry-name button{
  font-size: 1rem;
  width:4rem;
  height: 2rem;
  border-radius: 11px;
  color:#006238;
  border: 2px solid #006238;
  background-color: white;
  font-family: Verdana;
}
.entry-name{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 5rem;
}