
.like{
    top: 764px;
left: 632px;
width: 77px;
height: 24px;
text-align: left;
font: normal normal normal 20px/24px Verdana;
letter-spacing: 0px;
color: #707070;
opacity: 1;
margin:0;
}
.like p{
    margin:0;
}
.caption p{
    margin-top:1rem;
}

.caption{
    top: 820px;
left: 632px;
width: 450px;
height: 28px;
text-align: left;
font: normal normal bold 28px/34px Helvetica;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.heart{
    top: 716px;
left: 632px;
width: 32px;
height: 32px;
/* background: transparent url('images/heart.png') 0% 0% no-repeat padding-box; */
opacity: 1;
fill: red;
}
.share{
    top: 716px;
    left: 696px;
    width: 32px;
    height: 32px;
    /* background: transparent url('img/share.png') 0% 0% no-repeat padding-box; */
    opacity: 1;
    margin-left: 1rem;
    

}
.icons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.Bottom-Details-Container{
    padding:1.2rem;
}
