.name{
    top: 223px;
left: 632px;
width: 58px;
height: 28px;
text-align: left;
font: normal normal bold 28px/34px Helvetica;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.location2{
    top: 251px;
left: 632px;
width: 123px;
height: 29px;
text-align: left;
font: normal normal normal 24px/29px Verdana;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}
.more_icon{
    top: 1046px;
left: 1340px;
width: 32px;
height: 8px;
/* background: transparent url('img/more_icon.png') 0% 0% no-repeat padding-box; */
opacity: 1;
}
.Info-Container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
}
.container p {
    padding: 0;
    margin: 0;
}